<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Basic"/>
                <binding name="Basic1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13124/FaxingService.svc" binding="basicHttpBinding" bindingConfiguration="Basic" contract="FaxService.IFaxingService" name="Basic"/>
            <endpoint address="http://localhost:2657/EmailService.svc" binding="basicHttpBinding" bindingConfiguration="Basic1" contract="EmailService.IEmailService" name="Basic1"/>
        </client>
    </system.serviceModel>
</configuration>
